{% extends "base.html"%}

	{% block content %}
  <h1>Create Your Sample Label Here</h1>
		<form action="" method="post">
			{{ form.hidden_tag() }}
      {{ form.csrf_token }}
			<div>
				<p>	 {{ form.collection(width=96) }} <br> </p>
	      <p>  {{ form.collection_items(width=96) }} <br></p>
	      <p>  {{ form.print_sample_label() }} <br></p>
	      <p>  {{ form.print_crossover_label() }} <br></p>
			</div>
		</form>
		<p>  <button id="delete_product_button">Delete This Product </button> <br></p>
		<p>  <button id="delete_collection_button">Delete This Whole Collection </button> <br></p>

    <script>
      let col_select = document.getElementById('collection');
      let col_item_select = document.getElementById('collection_items');

      col_select.onchange = function(){
        collection_id = col_select.value;
        fetch('/collection_items/' + collection_id).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            for (let item of data.collection_items) {
              optionHTML += '<option value="' + item.id + '">' + item.name + '</option>';
            }
            col_item_select.innerHTML = optionHTML;
          });
        });
      }
    </script>

		<script>
			let delete_prod = document.getElementById('delete_product_button');
			delete_prod.onclick = function(){
				if (confirm('Do you really want to do this thing?')){
					// console.log("test");
					fetch('/delete_product/' + col_item_select.value).then(function(){
						location.replace('/sample_labels' );
						// alert('Your Item Has Been Deleted.')
					});

				}
			};
		</script>

		<script>
			let delete_col = document.getElementById('delete_collection_button');
			delete_col.onclick = function(){
				if (confirm('Do you really want to do this thing?')){
					fetch('/delete_collection/' + col_select.value).then(function(){
						location.replace('/sample_labels' );
						// alert('Your Collection Has Been Deleted.')
					});

				}
			};
		</script>

		<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}



	{% endblock %}
